<!DOCTYPE html>
<html lang="en">
<head>
    <title>Exercise Tracker</title>
    <link rel="stylesheet" href="/homePage.css">
</head>
<body>
    <div id="root">
        <div class="header">
            <h1>Exercise Tracker</h1>
        </div>
        <div class="content">
            <div class="postContainer">
                <div class="createUserContainer">

                </div>
                <div class="addExerciseContainer">

                </div>
            </div>  
        </div>
        <div class="footer">
            <p><strong>GET users's exercise log: </strong><code>GET /api/exercise/log?{userId}[&amp;from][&amp;to][&amp;limit]</code></p>
            <p><strong>{ }</strong> = required, <strong>[ ]</strong> = optional</p>
            <p><strong>from, to</strong> = dates (yyyy-mm-dd); <strong>limit</strong> = number</p>
        </div>
    </div>
</body>
</html>