body, html{
    height: 100%;
}

#root{
    height: 100vh;
    background-color: honeydew;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    flex-direction: column;
}

.header{
    width: 80%;
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: crimson;
}

.content{
    width: 80%;
    display: flex;
    justify-content: center;
}

.postContainer{
    width: 100%;
    display: flex;
}
.createUserContainer, .addExerciseContainer{
    height: 300px;
    width: 100%;
    background-color: red; 
}