<!DOCTYPE html>
<html lang="en">
<head>
    <title>Exercise Tracker</title>
    <link rel="stylesheet" href="/homePage.css">
</head>
<body>
    <div id="root">
        <div class="header">
            <h1>Exercise Tracker</h1>
        </div>
        <div class="content">
            <div class="postContainer">
                <div class="createUserContainer">
                    <h3>Create a New User</h3>
                    <p><code>POST /api/exercise/new-user</code></p>
                    <form action="http://localhost:3000/api/exercise/new-user" method="POST">
                        <input type="text" name="newUser"/>
                        <input type="submit" name="submit"/>
                    </form>
                </div>
                <div class="addExerciseContainer">
                    <h3>Add Exercises</h3>
                    <p><code>POST /api/exercise/add</code></p>
                    <form action="http://localhost:3000/api/exercise/add" method="POST">
                        <input type="text" name="addExercise"/>
                        <input type="submit" name="submit"/>
                    </form>
                </div>
            </div>  
        </div>
        <div class="footer">
            <p><strong>GET users's exercise log: </strong><code>GET /api/exercise/log?{userId}[&amp;from][&amp;to][&amp;limit]</code></p>
            <p><strong>{ }</strong> = required, <strong>[ ]</strong> = optional</p>
            <p><strong>from, to</strong> = dates (yyyy-mm-dd); <strong>limit</strong> = number</p>
        </div>
    </div>
</body>
</html>