body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #222;
    text-align: center;
    line-height: 1.4em;
    background-color: aliceblue;
}

.container {
    padding: 0;
    margin-top: 40px;
}

.footer {
    margin-top: 40px;
}

.user-stories {
    position: relative;
    text-align: justify;
    max-width: 700px;
    margin: 15px auto;
}
code {
    font-family: monospace;
    padding: 2px;
    color: black;
    background-color: #fff;
}
ol {
    list-style-position: outside;
}
ul {
    list-style-type: none;
}

li {
    margin-bottom: 0.5em;
}
.user-stories li {
    margin-bottom: 1em;
}

a {
    color: #2574A9;
}

h2{
    color: crimson;
    font-size: 40px;
}

h3{
    color: orangered;
    font-size: 20px;
}

input{
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    font-size: 16px;
}

input[type=submit]{
    font-size: 16px;
    border-radius: 3px;
    background-color: #E4F1FE;
    border: 1px solid grey;
    box-shadow: 2px 2px #999;
    cursor: pointer;
    width: 200px;
    height: 50px;
}

.uploadContainer{
    border: 5px dotted crimson;
}

.uploadContainer form{
    display: flex;
    flex-direction: column;
    align-items: center;
}